/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameboard {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
  background-color: white;
  cursor: none;
}
.container {
  width: 80vw;
  height: 100vh;
  margin: auto;
}
body {
  background-color: grey;
}
.scores {
  font-family: sans-serif;
  position: relative;
  color: #1A2992;
}

.flip {
  /*-webkit-transform: rotateY(180deg); /* Safari */*/
  /*transform: rotateY(180deg);*/
}

.title {
  font-size: 30pt;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

